/* Global settings */
*{box-sizing: border-box;}
html, body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}
:root{
    /* official page colors */
    --azul1: #354873;
    --azul2: #659FFF;
    --azul3: #8CC5FD;
    --azul4: #0b5ed7;
    --azul5: hwb(222 21% 55%);

    --blanco: #FFFFFF;
    --negro: #000000;
    --negro2: #2a2a2a;
    --gris: rgb(85, 85, 85);
    --afterHover: rgb(221, 221, 221);
    --color-amarillo:#ffcc11;
}
/* Header settings */
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--blanco);
    box-shadow: 0 20px 25px rgba(0,0,0,0.1);
    min-width: 320px;
    display: flex;
    min-height: 50px;
    align-items: center;    
    padding: 0 1em;
    justify-content: center;
    z-index: 5;
    min-height: 66px;

}
.bg_cl_b{
    background-color: var(--azul1);
}

.ul_1-0{
    list-style: none;
    padding: 0;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.li_1-0{
    list-style: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.5s;
}
.li_1-0:hover{
    background-color: var(--afterHover);
}
.li_1-0:active{
    transform: scale(0.5);
}

.icon_1-0{
    width: 30px;
}
.icon_1-1{
    padding: 0.2em;
    width: 35px;
    border: 1px solid var(--negro);
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.icon_1-2{
    width: 17px;
}
.a_1-0{
    text-decoration: none;
    color: black;
    margin: 1rem 0;
}
.a_1-1{
    /* border: 1px solid var(--negro); */
    border-radius: 5px;
    padding: 0.5em 1em;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.a_1-1:hover{
    transition: 0.3s;
    background-color: rgb(221, 221, 221);
}
.dflex_1-0{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dflex_1-1{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    height: 0;
}
.dflex_1-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.searchBox{
    background-color: red;
    position: absolute;
    background-color: #fff;
    top: -400px;
    left: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 20px 25px rgba(0,0,0,0.1);
    z-index: 5;
}
.searchInput{
    min-width: 320px;
    height: 36px;
    outline: 0px;
    color: var(--negro);
    font-size: 16px;
    border: 1px solid var(--negro);
    border-radius: 0 5px 5px 0;
    min-width: 270px;
}
.searchBoxinside{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.showSearch{
    top: 66px;
    position: fixed;
}
.dataSearch{
    width: 320px;
    padding: 0.5em;
    margin-top: 1rem;
    list-style: none;
    padding: 0;
    display: none;
}
.r_search{
    color: #109a06;
    font-weight: bold;
}
.r_failSearch{
    color: #a50909;
    font-weight: bold;
}
.aResult{
    letter-spacing: 1px;
    margin-bottom: 0;
}

/* SCROOL */
.scroolIndex{
    z-index: 0;
    overflow: scroll;
    max-height: 150px;
    overflow-x: hidden;
}
.adjust{
    padding: 0.5em;
    list-style: none;
    padding: 0;
    display: none;
}
.scrool{
    overflow: scroll;
    max-height: 300px;
    overflow-x: hidden;
}
.scroolMenu{
    overflow: scroll;
    overflow-x: hidden;
}
.hovers{
    padding: 0.5rem 1rem;
}
.hovers:hover{
    background-color: var(--afterHover);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border-radius: 5px;
}
/* --------------------------------------------- */
.lef_320{
    left: -340px;
}
.menu{
    background-color: var(--blanco);
    min-width: 320px;
    padding: 1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.5s;
}
.menuCard{
    position: fixed;
    top: 66px;
    left: -320px;
    background-color: var(--blanco);
    min-width: 320px;
    padding: 1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.5s;
}
.showMenu{
    left: 0px;
}
.ul_1-1{
    list-style: none;
    padding: 0;
}
.margin{
    margin: 0.5rem 0;
}
.margin_2{
    margin: 0.2rem 0.5rem;

}
.li_1-1{
    margin: 1rem 0;
    padding: 0;
    font-weight: bold;
}
.li_1-2{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--negro);
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);

}
.li_1-2:hover{
    /* background-color: var(--afterHover); */
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border: none;
}
.li_1-3{
    text-decoration: none;
    color: var(--azul2);
}
.li_1-4{
    text-decoration: none;
    color: var(--azul1);
    font-weight: bold;
    padding: 0.5rem 0.3rem;
}

.iconBack{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.5s;
    
    position: fixed;
    top: 75px;
    left: 250px;
    z-index: 3;
}
.iconBack:hover{
    background-color: rgb(221, 221, 221);
}
/* --------------------------------------------- */
.tittle{
    /* display: none; */
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: normal;
}
.hidden2{
    display: none;
}
/* cont --------- */
.download{
    text-decoration: none;
    color: var(--negro);
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: var(--blanco);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.download:hover{
    background-color: rgb(221, 221, 221);
}
.estrategies{
    margin: 1rem;
}
.aparta{
    margin-right: 1rem;
}
.plot{
    /* margin-top: 66px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.theme{
    font-weight: 100;
    letter-spacing: 3px;
}
.txtG{
    /* font-weight: bold; */
    letter-spacing: 1.5px;
    color: var(--azul1);
    font-size: 25px;
}
.indices{
    color: var(--azul2);
}
.imgExample{
    width: 100%;
    max-width: 900px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.1); */
}
/* ------- */






.cont{
    display: grid;
    grid-template-columns: 1fr;
    transition: 0.5s;
    text-align: justify;
}
.asideResour{
    position: inherit;
    margin-top: 66px;
    max-height: 270px;
    padding: 1rem;
    width: 100%;
    min-width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    height: 100%;
    transition: 0.5s;
}
.grid{
    transition: 0.5s;
    min-width: 320px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 66px;
}
.imgResour{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 250px;

}

.bottom_0{
    bottom: 0;
}
.top_0{
    top: 0;
}
.scr{
    overflow: scroll;
    overflow-x: hidden;
}
.p_fix{
    position: fixed;
    transition: 0.5s;
}
.mg_top_66{
    margin-top: 66px;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    min-height: 270px;
    min-width: 200px;
    border-radius: 10px;
}
.aDownloadResour{
    text-decoration: none;
    color: var(--negro);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: var(--blanco);
}
.aDownloadResour:hover{
    background-color: var(--afterHover);
}

.bttup{
    width: 50px;
    height: 50px;
    background-color: var(--azul4);
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.imgResBanner{
    width: 100%;
    display: none;
    margin-bottom: 33px;
}

.imgArticle{
    width: 180px;
    height: 200px;
}

.carousel{
    width: 900px;
    overflow: hidden;
}
.articlesResour{
    display: flex;
    gap: 1rem;
    transition: transform 1s ease-in-out;
}
.gap{
    gap: 1rem;
}
.bttCarous{
    border: none;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    background-color: var(--blanco);
    padding: 1em;
    cursor: pointer;
}
.bttCarous:hover{
    background-color: var(--afterHover);
}

/* PAG NOT FOUND */
.errorBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
    text-align: center;
}
.error{
    background-image: url('../img/PageNtFound.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 5rem;
}
.margin{
    margin: 0.5rem;
}
.padding{
    padding: 1rem 1rem 0 1rem;
}

@media (min-width: 420px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 650px){
    .imgResBanner{
        margin-top: 66px;
        display: block;
    }
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 0;
    }
    .searchInput{
        width: 500px;
    }
    .dataSearch{
        width: 500px;
    }
}
@media (min-width: 970px){
    .searchInput{
        width: 800px;
    }
    .dataSearch{
        width: 800px;
    }
    .plot{
        margin-top: 0;
    }
    .imgResBanner{
        margin-top: 0;
    }
    .cont{
        margin-left: 330px;
        margin-top: 66px;
    }
    .asideResour{
        margin-top: 0;
        position: fixed;
        min-height: 100%;
        width: 320px;
    }
    .bttup{
        display: none;
    }
}

@media (min-width: 1180px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* carousel media */

@media (max-width: 970px){
    .carousel{
        display: none;
    }
}

/* Media's */
@media (min-width: 970px){
    .header{
        justify-content: space-between;
        
        /* background-image: url("../img/bgTittle2.png"); */
        /* background-position: left; */
        /* background-size: 50%; */
        /* background-repeat: no-repeat; */
    }
    .hidden{
        display: none;
    }
    .hidden2{
        display: flex;
    }
    .menu{
        left: 0;
    }
    .lef_320{
        left: 0;
    }
    .menuCard{
        min-height: 100%;
    }
    .iconBackShow{
        display: flex;
    }
}
.xxx_sss{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.register{
    padding: 1rem;
    width: 350px;
    overflow: hidden;
}
.contBox{
    display: flex;
    gap: 3rem;
    transition: transform 1s ease-in-out;
}
.formBox{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
.inpInfo{
    padding: 1rem 0.5rem;
    border: 1px solid var(--negro);
    margin-bottom: 1rem;
}
.forgetP{
    text-align: right;
    text-decoration: none;
    color: var(--negro);
    margin-bottom: 0.5rem;
    font-size: 14px;
    padding: 0.5rem;
}
.inpSend{
    background-color: var(--blanco);
    padding: 1rem 3rem;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 1rem;
}
.inpSend:active{
    transform: scale(0.5);
}
.inpSend:hover{
    background-color: var(--afterHover);
}
.alertFail{
    color: red;
    text-align: center;
}
.alertSuccess{
    text-align: center;
    color: rgb(76, 202, 14);
}
.remark{
    font-weight: bold;
    color: var(--negro);
}
/* usuario */
.boxUser{
    width: 100%;
    margin-top: 66px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxUserData{
    text-align: justify;
}
.imgUser{
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    max-width: 320px;
}
.sttUserAcount{
    width: 100%;
    max-height: 320px;
}
.bttAcount{
    padding: 1rem;
    text-decoration: none;
    color: var(--negro);
    margin: 1rem 0 0 0;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.5s;
}
.bttAcount:hover{
    background-color: var(--blanco);
    color: var(--negro);
}
.bttAcount:active{
    transform: scale(0.8);
}
.bttAcountClose{
    background-color: var(--blanco);
}
.bttAcountDelete{
    color: var(--blanco);
    background-color: rgb(255, 17, 0);
}
.mainBoxShop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.xxccc{
    max-width: 1350px;
}
.src_block_1{
    position: absolute;
    top: 66px;
    width: 100%;
    left: 0;
    /* background-color: var(--blanco); */
    /* background-color: rgb(254, 209, 22); */
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.src_a_1{
    color: var(--negro);
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    background-color: var(--blanco);
}
.src_a_1:hover{
    background-color: var(--afterHover);
}
.src_img{
    width: 100%;
    display: none;
    margin-bottom: 33px;
}
.material{
    margin:  0 1rem 0 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}
.editBlock{
    max-width: 320px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);

}
@media (min-width: 700px){
    .src_img{
        margin-top: 66px;
        display: flex;
    }
    .src_block_1{
        left: 3rem;
        top: 100px;
        width: 40%;
        background-color: var(--blanco);
    }

}
@media (min-width: 920px){
    .src_block_1{
        left: 8rem;
        top: 150px;
    }
    
}
.centertxt{
    text-align: center;
}
.contIndex{
    max-width: 1350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
}
.cont_a{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: var(--blanco);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.img_00001{
    max-width: 1250px;
}
.blockCont{
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.1); */
    padding: 1rem;
    position: relative;
    top: -500px;
    width: 320px;
    left: 100px;
    display: flex;
    flex-direction: column;
}

.any_txt{
    font-weight: normal;
}
.d_flex_1{
    display: flex;
    justify-content: space-around;
}
.li_1{
    list-style: none;
    padding: 0;
}
.c_1{
    color: var(--negro);
    text-decoration: none;
}
.a_1{
    text-decoration: none;
    
}
.a_1:hover{
    text-decoration: underline;
}
.foot{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mgt_01{
    margin-top: 26px;
}
.txtrs_01{
    text-transform: uppercase;
}
.box_01{
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.1); */
    padding: 0.5rem;
}
.d_grid_1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.denied{
    background-color: var(--azul3);
    padding: 5rem 1rem;
    font-size: 20px;
    text-align: center;
    color: var(--blanco);
}
.block_1{
    background-color: var(--blanco);
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.1); */
    padding: 0.5rem 1rem;
    transition: 0.3s;
    gap: 1rem;
    padding: 1.3rem 0;
    margin: 0;
}
.change_foot{
    background-color: var(--azul1);
    color: var(--blanco);
}
.col_b{
    color: var(--blanco);
}
@media (min-width: 970px){
    .change_foot{
        padding: 1rem 2rem;
        margin-top: 100px;
        margin-left: 320px;
    }
    .foot{
        justify-content: space-between;
        flex-direction: row;
    }
}

.d_flox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--negro);
}
.videoXD{
    width: 320px;
}

.h3_1{
    font-weight: normal;
    margin-left: 0.5rem;
}

.marg_0{
    margin-top: 0;
}

@media  (min-width: 556px){
    .d_grid_1{
        grid-template-columns: repeat(2, 1fr);
    }
    .videoXD{
        width: 500px;
    }
}
@media  (min-width: 768px){
    .d_grid_1{
        grid-template-columns: repeat(3, 1fr);
    }
    .videoXD{
        width: 750px;
    }
}

@media  (min-width: 992px){
    .d_grid_1{
        grid-template-columns: repeat(4, 1fr);
    }
}
.escondete{
    display: none;
}

@media  (min-width: 970px){
    .escondete{
        display: block;
    }
    .h3_1{
        margin-left: 1rem;
    }
}

.bg_color_1{
    background-color: var(--azul4);
}
.bg-yellow {
    background-color: var(--color-amarillo);
}
.card-img-top {
    height: 300px;
}
.figure{
    max-width: 350px;
    height: auto;
}
.figure-img{
    width: 100%;
    height: auto;
}
.color_w{
    transition: 0.5s;
    color: var(--blanco);
}
.color_w:hover{
    color: #000000;
}
.edit_cart{
    border: 1px solid var(--negro);
}
.brd_ra{
    border-radius: 5px;
}
.bg_g{
    background-color: gray;
}
.color_blanco{
    transition: 0.5s;
    color: var(--blanco);
}
.color_blanco:hover{
    color: #000000;
}
.bord_top{
    width: 100%;
    border-top: 1px solid gray;
}
.bg_blue_box{
    background-color: var(--azul3);
}
.destacar{
    font-size: 18px;
    color: var(--negro);
    /* text-shadow: var(--negro) 1px 1px 1px;     */
}
.hover_txt:hover{
    text-decoration: underline;
}

.partir{
    display: grid;
    grid-template-columns: 1fr 150px;
}

.margin_top{
    margin-top: 1rem;
}
.margin_top_2{
    margin-top: 3rem;
}
.bold{
    font-weight: bold;
}

.activeShow{
    display: block;
}