*{
    box-sizing: border-box;
    margin: 0px;
}
:root{
    --color-black:#000000;
    --color-white:#FFFFFF;
    --color-blue:#22B2FF;
    --color-green:#42b72a;
    --color-fondo:#f7f9fa;
}
html, body{
    padding: 0px;
}
h2{
    font-family: sans-serif;
}
body{
    font-family: sans-serif;
    font-size: 1rem;   
}
.container-100{
    max-width: 100%;
    margin-left:auto;
    margin-right: auto;
}
.container-968{
    max-width: 968px;
    margin-left:auto;
    margin-right: auto;
}
/**MARGIN**/
.mt-05{
    margin-top: .5rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-10{
    margin-top: 10rem;
}
.ml-05{
    margin-left: .5rem;
}
.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}
.ml-5{
    margin-left: 5rem;
}
.ml-10{
    margin-left: 10rem;
}
.mr-05{
    margin-right: .5rem;
}
.mr-1{
    margin-right: 1rem;
}
.mr-2{
    margin-right: 2rem;
}
.mr-5{
    margin-right: 5rem;
}
.mr-10{
    margin-right: 10rem;
}
.mb-05{
    margin-bottom: .5rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-5{
    margin-bottom: 5rem;
}
.mb-10{
    margin-bottom: 10rem;
}
/**PADDING*/
.py-05{
    padding: .5rem 0rem;
}
.py-1{
    padding: 1rem 0rem;
}
.py-2{
    padding: 2rem 0rem;
}
.py-3{
    padding: 3rem 0rem;
}
.py-5{
    padding: 5rem 0rem;
}
.px-05{
    padding: 0rem .5rem;
}
.px-1{
    padding: 0rem 1rem;
}
.px-2{
    padding: 0rem 2rem;
}
.px-3{
    padding: 0rem 3rem;
}
.px-5{
    padding: 0rem 5rem;
}
.pxy-1{
    padding: 1rem;
}
/*TEXT-COLOR*/
.text-color-white{
    color: var(--color-white);
}
.text-color-black{
    color: var(--color-black);
}
.text-color-blue{
    color: var(--color-blue);
}
.text-align-center{
    text-align: center;
}
/*BACKGROUND-COLOR*/
.bg-gray{
    background-color: var(--color-fondo);
}
.bg-white{
    background-color: var(--color-white);
}
.bg-blue{
    background-color: var(--color-blue);
}
/*FLEX*/
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.aling-items-center{
    align-items: center;
}
.aling-items-stretch{
    align-items: stretch;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-direction-row-reverse{
    flex-direction: row-reverse;
}
.flex-direction-col{
    flex-direction: column;
}
.flex-direction-col-reverse{
    flex-direction: column-reverse;
}
/*IMG*/
.figure{
    width:96%;
    max-width: 300px;
    min-width: 225px;
    margin:  0 auto;
}
.figure-img{
    width: 100%;
    height: auto;
}
/*NAV*/
.nav{
    display: flex;
    align-items: center;
    padding: 0rem;
}
.nav-item{
    list-style: none;
    padding: 0rem 1rem;
}
.nav-link{
    text-decoration: none;
}
/*BOTON*/
.btn{
    width: auto;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: .4rem;   
    padding: 1rem;
    cursor: pointer;
}
.btn-green{
    background-color: var(--color-green);
}
.btn-blue{
    background-color: var(--color-blue);
}
.container-btn-flex{
    display: flex;
    justify-content: center;
}
.container-btn-block{
    display: flex;
    flex-direction: column;
}
/*CARD*/
.card{
    width: 18rem;
    height: auto;
    display: flex;
    justify-content: center;
    border: 1px solid #dfdfdf;
    border-radius: .5rem;
}
.card-img{
    width: 100%;
    height: 250px;
    border-radius: .5rem;
}
.card-body{
    padding: 1rem;
    height: auto;
}
/*box shadow*/
.bs-t{
    box-shadow: 2px -3px 11px 1px rgba(0,0,0,0.34);
    -webkit-box-shadow: 2px -3px 11px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px -3px 11px 1px rgba(0,0,0,0.34);
}
/*MEDIA*/
@media (max-width:576px) {
    .d-flex-sm{
        display: flex;
    }
    .d-block-sm{
        display: block;
    }
    .d-none-sm{
        display: none;
    }
    .justify-center-sm{
        justify-content: center;
    }
    .flex-direction-col-sm{
        flex-direction: column;
    }
    .px-1-sm{
        padding: 0rem 1rem;
    }
    .py-1-sm{
        padding: 1rem 0rem;
    }
    .mx-1-sm{
        margin: 0rem 1rem;
    }
    .my-1-sm{
        margin: 1rem 0rem;
    }
    .text-align-center-sm{
        text-align: center;
    }
}
@media (max-width:768px) {
    .d-flex-md{
        display: flex;
    }
    .d-none-md{
        display: none;
    }
    .d-block-md{
        display: block;
    }
    .justify-center-md{
        justify-content: center;
    }
    .flex-direction-col-md{
        flex-direction: column;
    }
    .px-1-md{
        padding: 0rem 1rem;
    }
    .py-1-md{
        padding: 1rem 0rem;
    }
    .mb-1-md{
        margin-bottom: 1rem;
    }
    .mx-1-md{
        margin: 0rem 1rem;
    }
    .my-1-md{
        margin: 1rem 0rem;
    }
}
@media (max-width:992px) {
    .d-flex-xl{
        display: flex;
    }
    .d-none-xl{
        display: none;
    }
    .d-block-xl{
        display: block;
    }
    .justify-center-xl{
        justify-content: center;
    }
    .flex-direction-col-xl{
        flex-direction: column;
    }
    .px-1-xl{
        padding: 0rem 1rem;
    }
    .py-1-xl{
        padding: 1rem 0rem;
    }
    .mb-05-xl{
        margin-bottom:.5rem;
    }
    .flex-wrap-xl{
        flex-wrap: wrap;
    }
}

